{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="margin-bottom: 10px">
        <div style="margin-bottom: 15px">
            <a class="btn btn-success" href="/department/add/" target="_blank">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New Department
            </a>
        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Department</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/department/{{ obj.id }}/edit/"> Edit </a>
                            <a class="btn btn-danger btn-xs" href="/department/delete?nid={{ obj.id }}"> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

